{% extends "main/base.html" %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{{STATIC_URL}}main/css/login.css" type="text/css">
{% endblock extra_css %}


{% block main_content %}
	<h4 class="text-center">Reset Password</h4>
	<form action="{% url portal.main.views.reset_password %}" method="POST" class="form-horizontal">{% csrf_token %}
		<h5 class="text-center text-danger">{{form.email.errors.0}}</h4>
		<div class="form-group">
			<label class="col-sm-5 col-lg-5 control-label" for="id_username">{% trans "Email Address" %}</label>
			<div class="col-sm-7 col-lg-7">{{form.email}}</div>
		</div>
		
		<div class="form-group">
			<div class="col-sm-5 col-lg-5"></div>
			<div class="col-sm-7 col-lg-7">
				<input id="submit_button" type="submit"  value="Submit" class="btn btn-primary"/>
			</div>
		</div>
    </form>
	<img src="{{STATIC_URL}}images/CLEAN-SWAMIES-SHOT.jpg" class="img-responsive">
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{{STATIC_URL}}main/js/login.js"></script>
{% endblock extra_js %}