<div id="order_submit_modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
			    <h4 class="modal-title">Submit Order</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to submit your order?</p>
			</div>
			<div class="modal-footer">
				<div id="submit_cancel" class="btn btn-default" data-dismiss="modal" aria-hidden="true">No</div>
				<div id="submit_button" class="btn btn-success">Yes</div>
			</div>
		</div>
	</div>
</div>