{% extends "main/base.html" %}
{% load i18n %}

{% block extra_css %}
	<link href="{{STATIC_URL}}main/css/file_upload.css" rel="stylesheet" media="screen">
{% endblock extra_css %}


{% block breadcrumb_content %}
    <li><a href="/">Home</a></li>
    <li class="active">File Upload</li>
{% endblock breadcrumb_content %}

{% block main_content %}

	<div class="row">

		<div class="container">
			<form id="file_upload_form" enctype="multipart/form-data" action="/test/" method="post" class="form-horizontal" role="form">
				{% csrf_token %}
				<div class="form-group">
					<input type="file" name="file" class="form-control"/>
			  	</div>
			
			  	<div class="form-group">
					<input type="submit" name="upload" value="Upload" class="btn btn-success"/>
			  	</div>
			</form>
		</div>

	</div>

{% endblock %}

{% block extra_js %}
	
{% endblock extra_js %}